<div id="title_bar">
	<h1>Home</h1>
</div>
<div id="main">
	<div class="masonry_item new_link_action">
		<%= link_to '+ New Link', new_link_path, :id => 'add_new_link', :remote => current_user ? true : false  %>
	</div>
	<div id="links">
		<% @links.each do |link| %>
			<%= render link %>
		<% end %>
	</div>
	<div class="masonry_item">
		<%= paginate @links %>
	</div>
</div>

<footer>
	<%= render :partial => 'shared/tag_cloud' %>
</footer>