<div id="title_bar">
	<a href="#" class="button-large tags-grey pull-right" id="show-tags"><span>Tags</span></a>
	<h1>Home</h1>
</div>
<div id="main" class="links_view">
	<div class="tiles_outer">
		<div class="tiles_inner">
			<div class="tiles_item new_link_action">
				<%= link_to '+ New Link', new_link_path, :id => 'add_new_link', :remote => current_user ? true : false  %>
			</div>
			<div id="links">
				<% @links.each do |link| %>
					<%= render link %>
				<% end %>
			</div>
			<div class="tiles_item">
				<%= paginate @links %>
			</div>
		</div>
	</div>
</div>

<footer>
	<%= render :partial => 'shared/tag_cloud' %>
</footer>