<div id="main">
	<div id="links">
		<% @links.each do |link| %>
			<%= render link %>
		<% end %>
	</div>
	<%= paginate @links %>
</div>

<div id="sidebar">
	<%= link_to '+ New Link', new_link_path, :id => 'add_new_link', :remote => current_user ? true : false  %>
	<%= render :partial => 'shared/tag_cloud' %>
</div>