@import "_variables";
@import "lib/bootstrap/mixins";

// Forms Generic --------------------------------------------------------------

input, textarea {
	height:26px;
	border:0;
	padding:2px 7px;
	margin:2px 0;
	.border-radius(5px);
}
textarea { height:auto; }
input[type="text"], input[type="password"] {
	border:1px solid @lgrey;
}
input[type="submit"], .actions .cancel {
	display:inline-block;
	height:32px;
	line-height:32px;
	padding:0 10px;
	.border-radius(5px);
	font-family: 'Oxygen', sans-serif;
	font-weight:700;
	font-size:16px;
	background:@orange;
	color:#fff;
	cursor:pointer;
	&:hover { background:darken(@orange, 10%); }
}
	.actions .cancel { 
		background:#fff;
		color:@orange;
		&:hover {
			background:#fff; 
			color:darken(@orange, 10%); 
		}
	}
label {
	display:inline-block;
	margin:5px 0;
}

input.loading { background:#f99; }

.user_view {
	label { color:#fff; }
}

