@import "_variables";
@import "lib/bootstrap/mixins";

// Icons --------------------------------------------

.icon, .icon-small, .icon-large {
	float:left;
	background:url('/assets/sprite.png');
	cursor:pointer;
	span { display:none; }
	&:hover { opacity:0.8; }	
}
.icon {
	.size(24px,24px);
	&.close-white { background-position:0px -24px; }
	&.close-grey  { background-position:-24px -24px; }
	&.edit-white  { background-position:0px 0px; }
	&.edit-grey   { background-position:-24px 0px; }
}

.icon-small {
	.size(16px,16px);
	&.close-white { background-position:-48px -16px; }
	&.close-grey  { background-position:-64px -16px; }
	&.edit-white  { background-position:-48px 0px; }
	&.edit-grey   { background-position:-64px 0px; }
}

.icon-large {
	.size(32px, 32px);
	&.tags-grey { background-position:-112px 0; }
	&.user-grey { background-position:-112px 32px; }
}