@import "_variables";
@import "lib/bootstrap/mixins";

// Icons --------------------------------------------

.button, .button-small, .button-large {
	float:left;
	background:url('/assets/sprite.png');
	cursor:pointer;
	span { display:none; }
	&:hover { opacity:0.8; }	
}
.button {
	.size(24px,24px);
	&.close-white { background-position:0px -24px; }
	&.close-grey  { background-position:-24px -24px; }
	&.edit-white  { background-position:0px 0px; }
	&.edit-grey   { background-position:-24px 0px; }
}

.button-small {
	.size(16px,16px);
	&.close-white { background-position:-72px -16px; }
	&.close-grey  { background-position:-88px -16px; }
	&.edit-white  { background-position:-72px 0px; }
	&.edit-grey   { background-position:-88px 0px; }
}

.button-large {
	.size(32px, 32px);
	&.tags-grey { background-position:-104px 0; }
}