// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

body {
	font-family: 'Open Sans', sans-serif;
}

a { 
	color:$red; 
	&:hover { color:darken($red, 10%); }
}

// Header ---------------------------------------------------------------------

#site_logo {
	display:block;
	float:left;
	margin:10px;
	width:150px; height:40px;
	background:url('/assets/folld-logo.png') top left no-repeat;
	h1, span { display:none; }
}

#user_nav {
	float:right;
	margin:10px;
}

// Links ----------------------------------------------------------------------

form#search {
	margin:10px;
}
#main {
	float:left;
	margin-right:300px;
}

// Sidebar --------------------------------------------------------------------

#sidebar {
	float:right;
	width:300px;
	margin-left:-300px;
}

#add_new_link {
	display:block;
	padding:5px;
	background:$red;
	text-decoration:none;
	font-weight:bold;
	color:#fff;
	&:hover { background:darken($red, 10%); }
}
#tag_cloud {
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.loading { background:#f99; }

.link {
	.title { text-decoration:none; }
	margin:10px;
	padding-bottom:10px;
	border-bottom:1px dotted $red;
	p { display:inline; }
}

#flash {
	.notice {
		background:#2f2;
		color:#fff;
		font-weight:bold;
	}
	.error {
		background:#d00;
		color:#fff;
		font-weight:bold;
	}
}